# Ignore BT4 microservices workspace
Practice/BT4/Baitap-Microservices/
Practice/BT4/Bai04_BuildMicoservices/
Main_Project/.vscode/PythonImportHelper-v2-Completion.json

# Environment files (secrets)
.env
**/.env

.claude
**/node_modules
.cursor
.vscode
.cursorignore
.cursorrules
**/dist
/.vscode
/Main_Project/Frontend/.vite
/.github

target/
*.class
*.jar
*.war
deployment/kubernetes/base/secrets/backend-secrets.yaml
/deployment/kubernetes/base/secrets
